openapi: 3.0.3
info:
  title: Roadie API
  description: >-
    Roadie is a managed (SaaS) Backstage - a hosted internal developer portal
    and software catalog. This document models Roadie's public REST API surface
    exposed under https://api.roadie.so/api. It covers the software catalog
    (reading Backstage entities and pushing Roadie-managed entities and entity
    sets), the Scaffolder (Backstage software templates / self-service golden
    paths), Tech Insights (facts, checks, and scorecards), and TechDocs
    (technical documentation) surfaces. All requests are authenticated with a
    Bearer token (User Token or Service Token) created in the Roadie
    Administration UI. The Roadie public API is available on Cloud Hosted
    Roadie. Catalog read endpoints follow the upstream Backstage Software
    Catalog API shape; the roadie-entities and entity-set endpoints are
    Roadie's own ingestion API. Request/response schemas here are modeled from
    Roadie and Backstage documentation and should be reconciled against the
    interactive reference at https://roadie.io/docs/api/overview/ before relying
    on exact field names. TechDocs endpoints follow the Backstage TechDocs API
    and are modeled; confirm availability on your Roadie tenant.
  version: '1.0'
  contact:
    name: Roadie (Larder Software Limited)
    url: https://roadie.io
  x-modeled: >-
    Base URLs and auth are confirmed from Roadie documentation. Individual
    request/response schemas are modeled from Roadie + Backstage docs and are
    not a Roadie-published OpenAPI file.
servers:
  - url: https://api.roadie.so/api
    description: Roadie Cloud Hosted API
security:
  - bearerAuth: []
tags:
  - name: Catalog
    description: Read Backstage software catalog entities in your Roadie tenant.
  - name: Entity Push
    description: Create, delete, and idempotently manage Roadie-owned catalog entities and entity sets.
  - name: Scaffolder
    description: Backstage software templates - discover, dry-run, execute, and track scaffolder tasks.
  - name: Tech Insights
    description: Facts, checks, and scorecards describing entity quality and compliance.
  - name: TechDocs
    description: Technical documentation (docs-like-code) metadata and static content. Modeled from Backstage.
paths:
  /catalog/entities:
    get:
      operationId: listCatalogEntities
      tags:
        - Catalog
      summary: List catalog entities
      description: >-
        Lists software catalog entities (Components, APIs, Systems, Resources,
        Groups, Users, Templates, and more) in your Roadie tenant. Supports
        Backstage-style filter, fields, offset, and limit query parameters.
      parameters:
        - name: filter
          in: query
          required: false
          description: Backstage entity filter, e.g. kind=component,spec.type=service.
          schema:
            type: string
        - name: fields
          in: query
          required: false
          description: Comma-separated list of entity fields to return.
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
        - name: offset
          in: query
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: A list of catalog entities.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Entity'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /catalog/entities/by-query:
    get:
      operationId: queryCatalogEntities
      tags:
        - Catalog
      summary: Query catalog entities
      description: >-
        Paginated, filterable query over catalog entities returning items plus
        a cursor for the next page. Mirrors the Backstage entities/by-query
        endpoint.
      parameters:
        - name: filter
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
        - name: cursor
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: A page of catalog entities.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Entity'
                  pageInfo:
                    type: object
                    properties:
                      nextCursor:
                        type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
  /catalog/entities/by-name/{kind}/{namespace}/{name}:
    get:
      operationId: getCatalogEntityByName
      tags:
        - Catalog
      summary: Get a catalog entity by name
      description: Retrieves a single catalog entity by its kind, namespace, and name.
      parameters:
        - $ref: '#/components/parameters/Kind'
        - $ref: '#/components/parameters/Namespace'
        - $ref: '#/components/parameters/Name'
      responses:
        '200':
          description: The requested catalog entity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entity'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /catalog/entity-facets:
    get:
      operationId: getEntityFacets
      tags:
        - Catalog
      summary: Get entity facets
      description: >-
        Returns counts of entities grouped by one or more facets (for example
        spec.type or metadata.tags), useful for building catalog filters.
      parameters:
        - name: facet
          in: query
          required: true
          description: Facet path to aggregate on, e.g. kind or spec.type.
          schema:
            type: string
        - name: filter
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Facet counts.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
  /catalog/roadie-entities/entities:
    post:
      operationId: createRoadieEntity
      tags:
        - Entity Push
      summary: Create a Roadie-managed catalog entity
      description: >-
        Pushes a single Backstage-format entity into the catalog as a
        Roadie-owned entity (no Location/YAML file required). Returns the newly
        created entity id used for later retrieval or deletion.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Entity'
      responses:
        '200':
          description: The entity was created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  entityId:
                    type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '400':
          $ref: '#/components/responses/ValidationError'
  /catalog/roadie-entities/entities/{entityId}:
    get:
      operationId: getRoadieEntity
      tags:
        - Entity Push
      summary: Get a Roadie-managed entity
      description: Retrieves a Roadie-owned entity previously created via the entity push API.
      parameters:
        - $ref: '#/components/parameters/EntityId'
      responses:
        '200':
          description: The requested entity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entity'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteRoadieEntity
      tags:
        - Entity Push
      summary: Delete a Roadie-managed entity
      description: Removes a Roadie-owned entity from the catalog by its id.
      parameters:
        - $ref: '#/components/parameters/EntityId'
      responses:
        '200':
          description: The entity was deleted.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /catalog/roadie-entities/sets/{setName}:
    put:
      operationId: upsertEntitySet
      tags:
        - Entity Push
      summary: Create or replace an entity set
      description: >-
        Idempotently creates or replaces the complete set of entities under the
        named set. Running the same request on a schedule keeps the catalog in
        sync; sending an empty items array clears the set. Ideal for ingesting
        software catalog entities from an external system of record.
      parameters:
        - $ref: '#/components/parameters/SetName'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                items:
                  type: array
                  items:
                    $ref: '#/components/schemas/Entity'
      responses:
        '200':
          description: The entity set was created or replaced.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '400':
          $ref: '#/components/responses/ValidationError'
    delete:
      operationId: deleteEntitySet
      tags:
        - Entity Push
      summary: Delete an entity set
      description: Deletes the named entity set and all entities it manages.
      parameters:
        - $ref: '#/components/parameters/SetName'
      responses:
        '200':
          description: The entity set was deleted.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /scaffolder/v2/actions:
    get:
      operationId: listScaffolderActions
      tags:
        - Scaffolder
      summary: List installed scaffolder actions
      description: Lists the scaffolder actions available to build software templates.
      responses:
        '200':
          description: Installed actions.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
  /scaffolder/v2/tasks:
    get:
      operationId: listScaffolderTasks
      tags:
        - Scaffolder
      summary: List scaffolder tasks
      description: Lists scaffolder (template execution) tasks and their statuses.
      responses:
        '200':
          description: A list of scaffolder tasks.
          content:
            application/json:
              schema:
                type: object
                properties:
                  tasks:
                    type: array
                    items:
                      $ref: '#/components/schemas/ScaffolderTask'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createScaffolderTask
      tags:
        - Scaffolder
      summary: Run a software template
      description: >-
        Executes a Backstage software template by reference, with the supplied
        input values and optional secrets. Returns a task id that can be polled
        or streamed for progress. This is the self-service "golden path" surface
        of the internal developer portal.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - templateRef
                - values
              properties:
                templateRef:
                  type: string
                  description: Entity reference of the template, e.g. template:default/create-service.
                values:
                  type: object
                  additionalProperties: true
                secrets:
                  type: object
                  additionalProperties: true
      responses:
        '201':
          description: The task was created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '400':
          $ref: '#/components/responses/ValidationError'
  /scaffolder/v2/tasks/{taskId}:
    get:
      operationId: getScaffolderTask
      tags:
        - Scaffolder
      summary: Get a scaffolder task
      description: Retrieves the status and step output of a scaffolder task.
      parameters:
        - $ref: '#/components/parameters/TaskId'
      responses:
        '200':
          description: The requested task.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScaffolderTask'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /scaffolder/v2/tasks/{taskId}/eventstream:
    get:
      operationId: streamScaffolderTaskEvents
      tags:
        - Scaffolder
      summary: Stream scaffolder task events
      description: >-
        Server-Sent Events (SSE) stream of log and completion events for a
        running scaffolder task. This is a text/event-stream long-poll, not a
        WebSocket.
      parameters:
        - $ref: '#/components/parameters/TaskId'
      responses:
        '200':
          description: An SSE stream of task events.
          content:
            text/event-stream:
              schema:
                type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
  /scaffolder/v2/dry-run:
    post:
      operationId: dryRunScaffolderTemplate
      tags:
        - Scaffolder
      summary: Dry-run a software template
      description: >-
        Executes a template in dry-run mode to preview the files and output it
        would produce without creating anything.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                template:
                  type: object
                  additionalProperties: true
                values:
                  type: object
                  additionalProperties: true
      responses:
        '200':
          description: The dry-run result.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
  /tech-insights/v1/facts:
    get:
      operationId: listTechInsightsFacts
      tags:
        - Tech Insights
      summary: Retrieve facts for entities
      description: >-
        Returns collected Tech Insights facts (raw signals such as presence of
        an owner, README, or a passing pipeline) for one or more entities.
      parameters:
        - name: entity
          in: query
          required: false
          description: Entity reference to scope facts to, e.g. component:default/my-service.
          schema:
            type: string
      responses:
        '200':
          description: Facts keyed by fact id.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
  /tech-insights/v1/checks:
    get:
      operationId: listTechInsightsChecks
      tags:
        - Tech Insights
      summary: List defined checks
      description: Lists the Tech Insights checks (boolean assertions over facts) defined in the tenant.
      responses:
        '200':
          description: A list of checks.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
  /tech-insights/v1/checks/run:
    post:
      operationId: runTechInsightsChecks
      tags:
        - Tech Insights
      summary: Run checks against entities
      description: Evaluates one or more checks against the supplied entities and returns pass/fail results.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                entities:
                  type: array
                  items:
                    type: string
                checks:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: Check results.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
  /tech-insights/v1/scorecards:
    get:
      operationId: listScorecards
      tags:
        - Tech Insights
      summary: List scorecards
      description: >-
        Returns Tech Insights scorecards - grouped sets of checks that measure
        maturity, security, or ownership quality across the software catalog.
      responses:
        '200':
          description: A list of scorecards.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
  /techdocs/metadata/entity/{namespace}/{kind}/{name}:
    get:
      operationId: getTechDocsMetadata
      tags:
        - TechDocs
      summary: Get TechDocs metadata for an entity
      description: >-
        Modeled from the Backstage TechDocs API. Returns metadata about the
        built documentation site for an entity. Confirm availability on your
        Roadie tenant.
      parameters:
        - $ref: '#/components/parameters/Namespace'
        - $ref: '#/components/parameters/Kind'
        - $ref: '#/components/parameters/Name'
      responses:
        '200':
          description: TechDocs metadata.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /techdocs/static/docs/{namespace}/{kind}/{name}/{path}:
    get:
      operationId: getTechDocsStatic
      tags:
        - TechDocs
      summary: Get a static TechDocs asset
      description: >-
        Modeled from the Backstage TechDocs API. Serves a built documentation
        asset (HTML/CSS/JS/images) for an entity's docs site.
      parameters:
        - $ref: '#/components/parameters/Namespace'
        - $ref: '#/components/parameters/Kind'
        - $ref: '#/components/parameters/Name'
        - name: path
          in: path
          required: true
          description: Path of the asset within the built docs site.
          schema:
            type: string
      responses:
        '200':
          description: The requested documentation asset.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: >-
        Roadie API token (User Token or Service Token) created under
        Administration in the Roadie app. Passed as
        `Authorization: Bearer YOUR_ROADIE_API_TOKEN`.
  parameters:
    Kind:
      name: kind
      in: path
      required: true
      description: Entity kind, e.g. component, api, system, group, user, template.
      schema:
        type: string
    Namespace:
      name: namespace
      in: path
      required: true
      description: Entity namespace, typically default.
      schema:
        type: string
    Name:
      name: name
      in: path
      required: true
      description: Entity name.
      schema:
        type: string
    EntityId:
      name: entityId
      in: path
      required: true
      description: Identifier of a Roadie-managed entity returned when it was created.
      schema:
        type: string
    SetName:
      name: setName
      in: path
      required: true
      description: Name of the entity set to manage idempotently.
      schema:
        type: string
    TaskId:
      name: taskId
      in: path
      required: true
      description: Identifier of a scaffolder task.
      schema:
        type: string
  responses:
    Unauthorized:
      description: Missing or invalid Bearer token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    ValidationError:
      description: The request payload failed validation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            message:
              type: string
            name:
              type: string
    Entity:
      type: object
      description: A Backstage-format catalog entity.
      properties:
        apiVersion:
          type: string
          example: backstage.io/v1alpha1
        kind:
          type: string
          example: Component
        metadata:
          type: object
          properties:
            name:
              type: string
            namespace:
              type: string
            title:
              type: string
            description:
              type: string
            tags:
              type: array
              items:
                type: string
            annotations:
              type: object
              additionalProperties:
                type: string
          additionalProperties: true
        spec:
          type: object
          additionalProperties: true
        relations:
          type: array
          items:
            type: object
            additionalProperties: true
      additionalProperties: true
    ScaffolderTask:
      type: object
      properties:
        id:
          type: string
        status:
          type: string
          description: One of open, processing, cancelled, failed, or completed.
        spec:
          type: object
          additionalProperties: true
        createdAt:
          type: string
          format: date-time
      additionalProperties: true
